@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,400,400italic,500,500italic,700,700italic);

* :not([class^=mdi]){
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Ubuntu', 'Roboto', 'Noto Sans KR', sans-serif !important;
}

/* fixme : 모바일에서 카드 중앙정렬 안되서 margin 써봤는데도 안되는 상태 */
/*@media (max-width: 768px) {
  .row {
    margin: 0 auto !important;
    text-align: center !important;
  }
}*/

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

/* Footer */
.footer {
    position: relative;
    background: #F1F1F1;
    padding: 24px 0;
    border-top: 1px solid #d9d9d9;
    bottom: 0;
    left: 0;
    right: 0;
}

.credit {
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 1200px){
  .container {
    width: 1170px;
  }
}
@media (min-width: 992px){
.container {
    width: 970px;
  }
}
@media (min-width: 768px){
.container {
    width: auto;
  }
}

.mobile-only, .desktop-only, .tablet-only {
  display: none !important;
}

@media (max-width: 768px ) {
  .mobile-only {
    display: flex !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .tablet-only {
    display: flex !important;
  }
}

@media (min-width: 991px) {
  .desktop-only {
    display: flex !important;
  }
}

.wrap {
    padding: 5px 0;
}

.row-container {
    margin-left: 0;
    margin-right: 0;
}

.footer .col {
    padding: 10px 0 20px;
}

/* TODO:오버런 네비계이션 네누 스타일
.bgwhite{
  background-color: white;
  color: black;
}

.left-tri-wrapper.bgwhite:before {
    background: url('/img/202020');
}
.left-tri-wrapper:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 64px;
}*/
