@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,400,400italic,500,500italic,700,700italic);

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Ubuntu', 'Roboto', 'Noto Sans KR', sans-serif;
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.background-div-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.background-div {
    height: 50vh;
}

footer {
    background-color: #edeff1;
    color: #bac1c8;
    font-size: 15px;
    padding: 0;
}

/* TODO:오버런 네비계이션 네누 스타일
.bgwhite{
  background-color: white;
  color: black;
}

.left-tri-wrapper.bgwhite:before {
    background: url('/img/202020');
}
.left-tri-wrapper:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 64px;
}*/
