.grid {
  width: 100%;
  text-align: center;
}

.gg h2 {
    margin: 1.1rem 0 1.1rem 0;
}

.gg h7{
  color: black;
  margin: 0 auto;
}


.card {
    /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)!important;*/ /* 작은 그림자 */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important; /* 깊은 그림자 */
    width: 300px;
    height: 300px;
    margin: 1em;
    padding: 16px;
    display: inline-block;
}

.card h2 i.mdi{
  font-size: 70px !important;
}
.card h3 {
  margin-top: 50px;
  font-size: 40px !important;
}

/*.card-4 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important
}*/


/* cards color */
.physical_edu {
    color: #F44336 !important;
}

.korean_edu {
    color: #ffa000 !important;
}

.mathematics_edu {
    color: #1E88E5 !important;
}

.science_edu {
    color: #4db6ac !important;
}

.english_edu {
    color: #4fc3f7 !important;
}

.history_edu {
    color: #5e35b1 !important;
}

.informatin_edu {
    color: #0097a7 !important;
}

.art_edu {
    color: #ff7043 !important;
}

.music_edu {
    color: ffeb3b !important
}

.career_edu {
    color: #5d4037 !important;
}

.invention_edu {
    color: #607d8b !important;
}

.club_edu {
    color: #e91e63 !important;
}

.meals_time {
  color: #707070 !important;
}

i[class$=edu] {
  font-size: 30px;
}

/* 콩콩 급식 */
@media (max-width: 768px ) {
  .meals {
    margin: 0 auto !important;
  }
  .calendar {
    margin: 0 auto !important;
  }
  /*.facebook{
    margin: 0 auto!important;
  }*/
}

.meals {
  width: 300px;
  margin: 1em;
  display: inline-block;
  padding: 20px;
}

/*.facebook {
  margin: 1em;
  margin-right: 0;
  display: inline-block;
}*/
