.grid {
	width: 100%;
	text-align: center;
}

.gg h2 {
    margin: 1.1rem 0 1.1rem 0;
}

.gg h7{
  color: black;
  margin: 0 auto;
}


.card {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)!important;
    width: 150px;
    height: 150px;
    margin: 1em;
    padding: 16px;
    display: inline-block;
    flot: left;
}

/*.card-4 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important
}*/

.red-text {
    color: #F44336 !important;
}
.meals {
	width: 300px;
	margin: 1em;
	float: left;
	display: inline-block;
	padding: 20px;
}
